$breakpoint-aspect-ratio: 4929/3286;
$breakpoint-width: 50rem;
$trans-time: 300ms;
$width: 20rem;


* {
  box-sizing: border-box;
}

.content {
  position: relative;
  height: 100vh;
  width: 100%;
}

.loginPhotoHolder {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.photo {
  position: absolute;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

@media (max-aspect-ratio: $breakpoint-aspect-ratio) {
  .photo {
    height: 100%;
    width: auto;
    display: block;
  }
}

@media (min-aspect-ratio: $breakpoint-aspect-ratio) {
  .photo {
    width: 100%;
    height: auto;
    display: block;
  }
}

@media (max-width: $breakpoint-width) {
  .photo {
    top: -89px;
    left: -180px;
    margin: 0;
  }
}

.form-view {
  position: absolute;
  background-color: white;
  bottom: 0;
  right: 0;
}

@media (min-width: ($breakpoint-width)) {
  .form-view {
    width: 30rem;
    height: 100%;
    border-radius: 3rem 0px 0px 3rem;
  }
}

@media (max-width: $breakpoint-width) {
  .form-view {
    height: 37rem;
    width: 100%;
    border-radius: 3rem 3rem 0px 0px;
  }
}

.form {
  margin: 3rem auto;
  width: 20rem;
}

.logo-login {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 120%;
  color: #2B2B2B;
  text-align: center;
  margin: '0px auto 2rem auto'
}


$muted-color: rgba(26, 23, 23, 0.38);
$active-color: #1976D2;
$input-width: 20rem;

.input-group {
  position: relative;
  margin: 3rem 0;
}

input,
textarea {
  background: none;
  color: $muted-color;
  font-size: 1rem;
  padding: 0.7rem 0.7rem 0.7rem 0.3rem;
  display: block;
  width: $width;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $muted-color;

  &:focus {
    outline: none;
  }

  &:focus~label,
  &:valid~label,
  &:not(:placeholder-shown)~label {
    top: -1rem;
    font-size: 0.7rem;
    color: $active-color;
  }

  &:focus~.bar:before {
    width: $width;
  }
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: $muted-color;
  font-size: 1rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0.7rem;
  top: 0.4rem;
  transition: $trans-time ease all;
}

.bar {
  position: relative;
  display: block;
  width: $width;

  &:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: $active-color;
    transition: $trans-time ease all;
    left: 0%;
  }
}

.button {
  width: $width;
  height: 3rem;
  background: #1976D2;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  color: #FFFFFF;
  border: 0;

  &:hover {
    background: #005ab4;
    cursor: pointer;
  }
}

.register-text {
  text-align: center;
  max-width: 1rem auto;
}